body, h1, h2, h3, h4, p, ul, ol, li {
	margin: 0;
	font-family: "Helvetica";
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}